# .github/workflows/presubmits.yml

name: Presubmits

on: [pull_request]

jobs:
    prettier-check:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "24"

            - name: Install pnpm
              run: |
                  npm install -g pnpm

            - name: Install dependencies
              run: pnpm install

            - name: Run Prettier check
              run: pnpm run format-check
    builder:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "24"

            - name: Install pnpm
              run: |
                  npm install -g pnpm

            - name: Install dependencies
              run: pnpm install

            - name: Run Builder
              run: pnpm run build
